!.gitignore

/build
/dist

/node_modules

/images

# makefile target timestamp files
/all
/cssdist
/css
/css-compile
/css-prefix
/js
/jsdist
/install
/bootstrapjs
/jqueryjs
/static
/imgs # use abbr name to avoid collision with images dir
